html {
  font-size: 62.5%;
}

svg {
  display: block;
  margin: 0 auto;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}

.input-left {
  display: flex;
  align-items: center;
}

.input-right {
  display: flex;
  flex-direction: column;
}

.upper-inputs,
.lower-inputs {
  display: flex;
  align-items: center;
}

button {
  margin: 1rem;
  font-size: 1.5rem;
}

input {
  font-size: 1.5rem;
}
